/* src/styles/variables.css */

:root {
  --white: #ffffff;
  --black: #333;
  --header-height: 32px;

  --close-button-color: #ff5e57;
  --minimize-button-color: #ffbd44;
  --maximize-button-color: #27c840;

  --super-light-gray: #f7f7f8;
  --light-gray: #f0f0f0;
  --gray: #e0e0e0;
  --middle-dark-gray: #888;
  --dark-gray: #818181;
}
