/* DesktopContent.css */

.desktop-content-container {
  width: 100vw;
  height: fit-content;
  min-height: calc(100vh - 32px - 80px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}
